#oOIcon {
  position: relative;
  top: 0;
  left: 0;
  max-width:20%;
}

.navbar> .container{
  max-width:none!important;
}

.card-deck {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  grid-gap: 1.5rem;
}

/* CARDS */
.card{
  overflow: hidden;
  max-width: 300px;
  max-height: 500px;
  margin: 15px 30px 15px 0;
  padding-left: 0;
  border: 2px solid rgb(119, 119, 119);
}

/* BOOKMARK ICON */
.card .bookmark {
  z-index: 100;
  position:absolute;
  top: .5%; 
  right: 1%;
  color:rgb(119, 119, 119);
}

/* CARD CAROUSEL  */
.img-thumbnail {
  margin-left: 7px;
}
.cardCarousel>.carousel-inner >.carousel-item > img {
  height: 300px;
  overflow:hidden;
  width:100%;
  object-fit: cover;
}

.carousel-item{
  width: 100%;
  overflow:hidden;
}

/* centers cards below medium */
@media (max-width: 767px){
  .card {
    margin: 15px auto;
  }
}

/* Toggles info over cards */
.cardInfoToggle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  z-index:50;
}

.cardInfoToggle a{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display:block;
  padding:  13rem 0.2rem 13rem 0;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
}

/* cards collapsed info NAV */
.ingredientsCollapse .nav {
  display: inline-block;
}

.ingredientsCollapse .nav > li{
  display: inline-block;
  width: initial;
  white-space: nowrap;
}

.ingredientsCollapse .nav > li > a{
  padding: 0.2rem 0.3rem;
  text-decoration: none;
  color:black;
}

.ingredientsCollapse .nav > li > a.active{
  font-weight: bold;
}

.ingredientsCollapse .nav > li.close{
  display:inline-flex;
  flex-direction: row-reverse;
  margin-left: auto;
  /* float: right;
  position: absolute;
  top: 0;
  right: 0; */
}

 /* cards collapsed info */
.ingredientsCollapse {
  position:absolute;
  z-index: 100;
  background-color: white;
  flex-direction: column; 
}

.ingredientsList {
  overflow-y: auto;
  height: 425px;
}
/* TRYING TO CHANGE ORDER ON DESKTOP */
/* .order-md-first{
  order: 1;
}
.order-md-2{
  order: 2;
   */

/* CONTEST CAROUSEL RESPONSIVE?? */
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 30px 10px 30px;
  right: 0;
}
/* BIT OF AN ISSUE ON SM SIZE WITH THE MAX_WIDTH... 
USE MEDIA QESRY HERE? */
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
  height:65px;
  max-width: 100px;
  object-fit: cover;
}

#contestCarousel>.carousel-inner>.carousel-item>img {
  padding: 1rem;
  width:100%;
  height: 15rem;
  /* max-height: 18rem;
  max-width: none; */
  object-fit: cover;
}

#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}

#carousel-thumbs .selected img {
  border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 75px;
  width: 75px;
  color: black;
  background-size: 75%, 75%;
}

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}

@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
    margin: 0 auto -30px auto;
  }
}

@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}

@media (min-width: 576px) {
  #contestCarousel>.carousel-inner>.carousel-item>img {
    margin-bottom: 30px;
  }
}

/* FOOTER */
.footContainer {
  margin: 20px 0;
  width: 100%;
  position:absolute;
  left: 0;
  right: 0;
}

.btn-social-icon {
  margin-right: 8px;
}

.footLinks {
  list-style: none;
  text-decoration: none;
}

.footLinks a {
  color: rgb(243, 243, 243);
}